body{
     background-color: #00B4D8;
}
main {
    text-align: center;
}

#slogan{
    font-size: 25px;
}
.capa{
     width: 70%;
     height: 100%;
}
.beneficio{
    background-color:  #3A86FF;
}
.foto-beneficio{
    width:40% ;
}
